.option_li {
  /* border: "1px solid gray";
  margin: "0.4rem 0";
  background-color: "rgba(205, 205, 205)"; */
  border: 1px solid gray;
  margin: 0.4rem 0;
  padding: 0.2rem 0.4rem;
  background-color: rgba(205, 205, 205);
}
.option_li:hover {
  cursor: pointer;
  background-color: rgba(220, 220, 220);
}
.background_wrap {
  position: relative;
}
.sugg_cont dl {
  margin: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 40;
  background-color: rgba(240, 240, 240);
  border: 2px solid rgba(220, 220, 220);
}

.input_wrap input {
  width: 100%;
  padding: 0.6rem 1.2rem;
}

.sugg_cont {
  position: relative;
}
